.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1440px;
  justify-content: center;
  user-select: none;
}

.gallery__item {
  flex-basis: calc((100% - 48px) / 3);
  list-style: none;
  background-color: #fff;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
}
